theme	Autumn
delay	75000
offsety	0
lampset	0
flyer	0
tree	0
figure	0
falling	1
falldelay	1
maxfalling	1000
fallingspread	2000
fallingspeed	16
minfallspeed	1
fallinanimdelay	4
drift	8
wind	0
usegusts	1
gustlen	100
gustdelay	5000
gustspeed	80
settlerate 10
wsettleheight 40
bsettleheight 80