theme	Xmas
delay	75000

offsety	0
lampset	2
lampy	0
lampdelay	2
lampflash	3
lampcycledelay	60

flyer	1
maxflyers	1
flyermaxy	500
spread	10
flydelay	1
flystep	16
flyanimdelay	4

tree	1
treex	-3000
treey	-5000
star	1
stardelay	15
tinsel	1
treelampset	1
treelampdelay	20

figure	1
figurex	-2000
figurey	-5000
figuredelay	100

falling	1
falldelay	1
maxfalling	1000
fallingspread	100
fallingspeed	8
minfallspeed	2
fallinanimdelay	8
drift	4
wind	0
usegusts	1
gustlen	100
gustdelay	3000
gustspeed	60
bsettleheight	100
wsettleheight	60
settlerate	2
clearonmaxhight	1
